/**
 * Define or overwrite your theme selectors within this file.
**/

.bg-canvas {
    /* Full height */
    height: 100%; 
    width: 100%;
    position: fixed;
}

.bg-bottom {
    position: absolute;
    bottom: 0;
}

.bg-right {
    position: absolute;
    right: 0;
}

.bg-left {
    position: absolute;
    left: 0;
}

.bg-top {
    position: absolute;
    top: 0;
}

.iot-banner {
    height: 43%; 
    width: 100%;

    background-image: url("../img/fiot_banner.png");
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;

    position: absolute;
    bottom: 0;

}