/**
 * Define or overwrite your theme variables here.
 *
 * Check for @humhub/static/less/variables.less file for all available variables.
 * 
 * You can also access your variables within your view files by calling Yii::$app->view->theme->variable('myVariable');
 *
 * You can disable the import of humhub theme components by using variables of the format @prev-{component} e.g.:
 * This will prevent comment.less component from beeing imported.
 * e.g.:
 * @prev-comment: true;
 *
**/
@primary: #006e92;
@info: #0081ab;
@text-color-secondary: #006e92;